---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import { Icon } from 'astro-icon';
---

<BaseLayout title="À propos | Benjamin Melinette" description="À propos de Benjamin Melinette">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci d'être arrivé ici. Lisez la suite pour en apprendre un peu plus à mon propos"
			>
				<img
					width="1553"
					height="873"
					src="/Portfolio/assets/portrait.jpg"
					alt="Portrait de Benjamin Melinette"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Mon histoire</h2>
				<div class="content">
					<p>
						Ayant toujours été passioné de jeux-vidéos. Je me suis rapidement tourné vers l'âge de 14 ans à l'informatique
						en découvrant le language python. Ayant beaucoup aimé ce language, j'ai continué
						d'en apprendre les rudiments avec l'option numérique et science de l'informatique
						ainsi qu'au merveilleux site qu'est OpenClassroom.
					</p>
					<p>
						Une fois le lycée fini, j'ai donc décidé de poursuivre cette passion en rejoignant Epitech.
						Là-haut, j'ai pu développer des qualités différentes de celles de codeurs tels que des qualités
						sociales mais aussi de d'adaptibilité en programmant en C, ce qui était nouveau pour moi puis
						en découvrant l'univers du Dev-Ops et de la cybersécurité.
					</p>
					<p>
						Aujourd'hui, encore étudiant à Epitech, je continue d'apprendre le C et le C++ au sein de mon cursus
						en parallèle d'apprendre d'autres languages tels que Python (pour me maintenir à niveau), ainsi que le
						flutter et bien d'autres.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<Pill style="align-items:center;">
						<p style="margin-bottom : 10px;margin-top:10px;">
							En cours ...
						</p>
						<center>
							<Icon style="display: inline-block; margin-left: 175px; margin-right: 120px;margin-top:5px;" name="mdi:arrow-right-bold" size="2em"></Icon>
						</center>
						<p style="margin-bottom : 10px;margin-top:10px;">
							2ème année à Epitech Nancy (Promotion 2027)
						</p>
					</Pill>
					<br>
					<br>
					<Pill style="align-items:center;">
						<p style="margin-bottom : 10px;margin-top:10px;">
							Baccalauréat 2021
						</p>
						<center>
							<Icon style="display: inline-block; margin-left: 120px; margin-right: 120px;margin-top:5px;" name="mdi:arrow-right-bold" size="2em"></Icon>
						</center>
						<p style="margin-bottom : 10px;margin-top:10px;">
							Lycée Henri-Loritz de Nancy
						</p>
					</Pill>
				</div>
				
			</section>
			<section>
				<h2 class="section-title">Qualités</h2>
				<div class="content">
					<p>Adaptabilité</p>
					<p>Motivé</p>
					<p>Organisé</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
