---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
---

<div class:list={['hero stack gap-4', align]}>
	<div class="stack gap-2">
	  <h1 class="title">{title}</h1>
	  {tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
  </div>

<style>
	.hero {
		font-size: var(--text-lg);
		text-align: center;
	}

	.title {
		white-space: pre-line;
		width: 100%; /* largeur pleine sur mobile */
		max-width: 100%; /* éviter overflow */
		word-break: break-word; /* couper les mots trop longs */
		font-size: clamp(2.25rem, 5vw, var(--text-3xl)); /* responsive */
		color: var(--gray-0);
		margin-inline: auto;
	}


	.tagline {
		max-width: 90%; /* responsive tagline */
		margin-inline: auto;
		font-size: clamp(1rem, 4vw, var(--text-lg));
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-xl);
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: 0;
		}

		.title {
			font-size: clamp(2.5rem, 3vw, var(--text-5xl));
			max-width: 40ch; /* sur desktop seulement */
		}

		.tagline {
			max-width: 40ch;
		}
	}
</style>
