---
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import { ViewTransitions } from 'astro:transitions';
import CallToAction from './CallToAction.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon name="logos:python" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Python</h2>
		<p>Fort de 3 d'expérience en Python, j'ai pu apprendre sur de nombreux sujets tels que le back-end Python, les jeux-vidéos en Python, l'interface logiciel...</p>
	<div class="stack gap-2 lg:gap-4">
		<Icon name="logos:c" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>C / C++</h2>
		<p>Fort d'une année de C intensive, j'ai pu apprendre sur de nombreux sujets tels que le développement logiciel et le jeu vidéo ainsi que le scripting. Concernant le C++, c'est le langage avec lequel j'ai réalisé mon plus gros projet que vous allez découvrir</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon name="logos:flutter" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Flutter</h2>
		<p>Connaissance de base en Flutter pour ce qui est de la création d'app responsive mobile ainsi qu'avec base de données (Firebase...)</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
